@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Cinzel:wght@400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*CTA Page*/
body.ctaPage {
    background-image: url('images/portalCopy.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ctaHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

.ctaHeader h1 {
    font-family: "Cinzel Decorative", serif;
    color: #ffffe4;
    font-size: 48px;
    margin-bottom: 10px;
}

.ctaHeader h2,
.ctaHeader h3 {
    color: #ffffe4;
    margin: 10px 0;
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
}

.ctaButton {
    margin-top: 40px;
    width: 250px;
    background: linear-gradient(135deg, #C28CDD, #A87AC5);
    padding: 14px 28px;
    border-radius: 40px;
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: #ffffe4;
    font-weight: bold;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    text-align: center;
}

.ctaButton:hover {
    transform: scale(1.05);
    background: linear-gradient(135deg, #B07ACB, #8E5BAF);
}

body.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}

/*Cabeçalho*/
h1{
    font-family: "Cinzel Decorative";
    font-size: 27px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    background-color: #ceabdf;
    width: 100%;
    font-family: "Montserrat";
    background: linear-gradient(to right, rgba(206, 171, 223, 0.8), #d9bad299);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

#headerText h2{
    font-family:"Cinzel Decorative";
}

/*SideBar*/
.sidebar ul{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 170px;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient(to bottom, rgba(206, 171, 223, 0.8), rgba(217, 186, 210, 0.6));
    z-index: 1001;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

.sidebar a{
    text-decoration: none;
    font-family: "Montserrat";
    color: black;
}

.sidebar li{
    list-style-type: none;
}

/*NavBar*/

.navbar a{
    text-decoration: none;
    color: black;
}

.navbar li{
    list-style-type: none;
    font-size: 15px;
}

.navbar ul{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    list-style: none;
    margin-right: 1.5rem;
    padding: 0;

}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(to right, #ceabdfe6, #d9bad2cc);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  padding: 0.2rem;
  
}

.navbar li a {
  position: relative;
  text-decoration: none;
  color: black;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #c28cdd;
  transition: width 0.3s ease;
}

.navbar li a:hover::before {
  width: 100%;
}


/*Body*/
body{  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url(images/pattern.png);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;

} 

h2, h3, h4, p{
    font-family: "Montserrat";
}

main{
    flex: 1;
    padding-top: 80px;

}

*{
    scroll-behavior: smooth;
}

#inicio,
#velas60gramas,
#velas90gramas,
#velas160gramas,
#wax,
#especiais{
    scroll-margin-top: 87px;
}

/*Modal*/

.cart-dropdown {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    width: 250px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    z-index: 999;
}

.cart-dropdown ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.cart-dropdown button {
    margin: 5px;
    padding: 6px 12px;
    border: none;
    background-color: #ceabdf;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/*Checkout*/

#deliveryForm input{
    all: unset;
    background-color: #d9bad299;
    border: 2px solid #d9bad299;
    border-radius: 8px;
    padding: 8px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    }

#deliveryForm{
    font-family:"Montserrat";

}

/*Cards*/
.candleCard{
    background-color: #ceabdf;
    padding: 1rem;
    border-radius: 10px;
    margin: 1rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: "Montserrat";
    cursor: pointer;
    text-align: center;
}

.candleCard:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  background-color: #c28cdd;
}

.candleCard h4, 
.candleCard p{
    text-align: center;
    display: -webkit-box; 
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.candleCard img{
    display: block;
    border-radius: 20px;
    width: 150px;
    margin: 0 auto;
}

section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

/*Botão saiba mais/comprar - cards*/

.moreInfoButton,
.buyButton{
    text-decoration: none;
    background-color: #c28cdd;
    border-radius: 20px;
    font-family: "Montserrat";
    cursor: pointer;
    display: inline-block;
    margin: 0.5rem 0.3rem;
    padding: 0.5rem 1.2rem;
    color: white;
    text-align: center;
    font-weight: 500;
    transition: background-color 0.3s ease;
}


.buyButton:hover,
.moreInfoButton:hover{
    background-color: #ceabdf;
}

.buyButtonDisabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
  background-color: #999;
  color: #eee;
}


button.buyButtonDisabled{
    cursor: not-allowed; !important
    pointer-events:none;
}

.buyButtonDisabled:hover{
    background-color: #ceabdf;
}

/*Footer*/
footer{
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #ceabdf;
    width: 100%;
    font-family: "Montserrat";
    background: linear-gradient(to right, rgba(206, 171, 223, 0.8), #d9bad299);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer a{
    text-decoration: none;
    color: black;

}

footer a:hover{
    color:#c28cdd;  
}

/*Tela de Login*/

#login{
    position:relative;
    width: 500px;
    margin:0 auto;
}

.loginFrame{
    display:block;
    width:100%;
}

.loginContent{
    position:absolute;
    top:30%;
    left:50%;
    transform: translate(-50%, -30%);
    display:flex;
    flex-direction:column;
    align-items: center;
    gap:1rem;
}

.loginContent h4,{
    display:inline-block;
    text-align:center;
}

.loginInput{
    all:unset;
    display:flex;
    flex-direction:column;
    border-radius:15px;
    font-family:"Montserrat";
    border: 0.138rem solid #ceabdf;
    background-color: #d9bad299;
}

.loginButton{
    all:unset;
    display:flex;
    flex-direction:column;
    border-radius:15px;
    cursor:pointer;
    font-family:"Montserrat";
    border: 0.5rem solid #ceabdf;
    background-color: #ceabdf;
}

.register, 
.forgotPassword{
    font-family:"Montserrat";
    text-decoration:none;
    color:black;
}

.register:hover{
   color: #ceabdf;
}
 
.forgotPassword:hover{
    color: #ceabdf;
}

/*Página Esqueci a senha*/

#email{
    all:unset;
    font-family: "Montserrat";
    border: 3px solid #ceabdf;
    background-color: #d9bad2cc;
    display:block;
    width:100%;
    justify-content:center;
    padding: 0.4rem;
    text-align:center;
    max-width:350px;
    border-radius:10px;
    margin: 0 auto;
}

body.forgotPage{
    display:flex;
    justify-content:center;
    align-tems: center;  
}

.typeEmail{
    font-family:"Montserrat";
    text-align:center;
}

#submitLink{
    all:unset;
    font-family:"Montserrat";
    display:block;
    width:100%;
    padding: 0.6rem;
    cursor:pointer;
    text-align:center;
    background-color:#ceabdf;
    max-width:300px;
    border-radius:10px;
    margin: 0 auto;
}

#submitLink:hover{
    background-color: #c28cdd;
}

.returnToLogin{
    font-family:"Montserrat";
    text-decoration:none;
    color: black;
    cursor:pointer;
    text-align:center;
}

.returnToLogin:hover{
color: #c28cdd;
}

.footerForgot{
    position:fixed;
    bottom:0;
    width:100%;
}

/*Página Redefinir Senha*/

body.newPassword{
    display:flex;
    font-family:"Montserrat";
    text-align:center;
    justify-content:center;
    margin: 0 auto;
}

.typeNewPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; 
  margin: 0 auto;
}


.typeNewPassword input{
    all:unset;
    display:flex;
    margin: 0 auto;
    border: 3px solid #ceabdf;
    background-color: #d9bad2cc;
    border-radius:10px;
    max-width:350px;
}

.typeNewPassword button{
    all:unset;
    display:flex;
    margin: 0 auto;
    gap: 1rem;
    background-color: #c28cdd;
    border-radius:10px;
    max-width:100px;
    cursor:pointer;
}

/*Contato*/

main.contactPage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding: 2rem;
}

.contactText{
    font-family:"Montserrat";
    margin-bottom: 1rem;
    color: #000000;
}

.iconRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: clamp(0.3rem, 2vw, 2rem);
    margin-top: 1rem;
}

.catimg{
    width:175px;
    transition: transform 0.3 ease;
}

.catimg:hover{
    transform:scale(1.05);
}

/*Showcase do produto*/


.productStack {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.productTitle {
  text-align: center;
  font-size: 2rem;
  font-family: "Cinzel Decorative";
  margin-bottom: 1rem;
}

.mainImage {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.imageGalleryRow {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.thumbnail {
  width: 60px;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.3s;
}

.thumbnail:hover {
  transform: scale(1.05);
}

.price {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

input#cep {
  padding: 0.5rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin: 0.5rem 0;
  width: 100%;
  max-width: 300px;
  font-family: "Montserrat";
}

button,
.buyButton {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0.3rem;
  border-radius: 20px;
  background-color: #c28cdd;
  color: white;
  font-family: "Montserrat";
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.textSection {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 1rem;
  font-family: "Montserrat";
  line-height: 1.6;
  text-align: justify;
}

.productDescription {
  white-space: pre-line;
  font-size: 1rem;
}



/*Responsividade*/
@media (max-width:700px) {
    footer{
        text-align: center;
    }
    header{
        text-align: center;
    }

    .hideMobile{
        display:none;
    }

    .candleCard p{
        -webkit-line-clamp: 2;
    }

    
}


@media (min-width:700px){
    .hideDesktop{
        display: none;
    }
    
}
